.container-login {
  margin: 0 70px;
}
.col-vector {
  background-color: #f2ad73;
}
.logo {
  color: #f2ad73;
}
.logo span {
  color: #db3635;
}
.forget-password {
  color: #db3635;
}
.btn-login {
  background-color: #db3635;
  color: white;
  border: 2px solid #db3635;
}
.btn-login:hover {
  background-color: white;
  color: #db3635;
  border: 2px solid #db3635;
  transition: 0.5s;
}
.btn-login-google {
  background-color: white;
  color: #db3635;
  border: 2px solid #8b8f96;
}
.btn-login-google:hover {
  background-color: rgb(231, 225, 225);
  color: #db3635;
  border: 2px solid #8b8f96;
  transition: 0.5s;
}
.text-regist {
  color: #90949a;
}
.text-regist a {
  color: #db3635;
}
